@media(max-width:1399.8px) {
    .welcomescreen__leftsect h1 {
        font-size: 44px;
    }

    .ourjob .ourjob__leftsect h2 {
        font-size: 44px;
    }

    .collected .collected__lefttsect .totalcollected {
        font-size: 80px;
    }

    .collected .collected__lefttsect .title {
        font-size: 36px;
    }

    .helpua__info .descr {
        font-size: 28px;
    }

    .welcomescreen__rightsect .imgwrap.litt {
        margin-bottom: 37px;
    }

    .welcomescreen__rightsect .imgwrap.big {
        height: 485px;
    }

    .newssection h1 {
        font-size: 44px;
    }

    .rekvbottsect>img {
        left: 53%;
    }

    .collectedtotzvit>img {
        width: 800px;
    }

    .collectedzvit ul li p:first-child .title,
    .collectedzvit ul li p:nth-child(2) {
        font-size: 21px;
    }

    .collectedzvit ul li p:nth-child(2):after {
        width: 25px;
        top: 12px;
    }

    .collectedzvit ul li p:nth-child(2) {
        padding-left: 75px;
    }

    .collectedtotzvit .title {
        font-size: 34px;
    }

    .collectedtotzvit .totprice {
        font-size: 58px;
    }

    .collectedzvit ul li p:nth-child(2) {
        margin: 0;
    }

    .collectedzvit ul li {
        margin-bottom: 25px;
    }

}


@media(max-width:1199.8px) {
    .header__tel {
        max-width: 280px;
        flex: 0 0 280px;
    }

    .header__logo {
        max-width: 80px;
        flex: 0 0 80px;
    }

    .header__tel ul li a {
        font-size: 16px;
    }

    .header__nav {
        max-width: calc(100% - 415px);
        flex: 0 0 calc(100% - 415px);
    }

    .welcomescreen__rightsect .imgwrap.litt {
        margin-bottom: 31px;
    }

    .welcomescreen__leftsect {
        padding-top: 30px;
    }

    .welcomescreen__leftsect h1 {
        font-size: 40px;
    }

    .button-container-2 {
        height: 60px;
    }

    .ourjob .ourjob__leftsect h2 {
        font-size: 38px;
    }

    .ourjob .ourjob__rightsect ul li {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px !important;
    }

    .ourjob {
        padding: 40px 0 100px 0;
    }

    .collected .collected__lefttsect .totalcollected {
        font-size: 65px;
    }

    .collected .collected__lefttsect .title {
        font-size: 32px;
    }

    .collected .collected__lefttsect .totalcollected span {
        font-size: 32px;
    }

    .collected {
        margin-bottom: 100px;
    }

    .helpua__info .descr {
        font-size: 24px;
    }

    .welcomescreen__rightsect .imgwrap.big {
        height: 480px;
    }

    .newssection h1 {
        font-size: 40px;
    }

    .news__box .news__box-pic {
        height: 300px;
    }

    .news__box .news__box-descr .title {
        font-size: 18px;
    }

    .rekvizytysect h1 {
        font-size: 42px;
    }

    .reksect .title {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .reksect .title span:after {
        bottom: -20px;
    }

    .rekvbottsect p {
        font-size: 28px;
    }

    .collectedtotzvit .totprice {
        font-size: 48px;
    }

    .collectedtotzvit .title {
        font-size: 28px;
    }

    .collectedzvit .collectedzvit__title {
        max-width: 100%;
    }







    .welcomescreen {
        padding: 70px 0 70px 0;
    }

}

@media(max-width:991.8px) {
    .welcomescreen {
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .welcomescreen__rightsect .imgwrap.litt {
        margin-bottom: 30px;
    }

    .welcomescreen,
    .ourjob {
        padding: 50px 0;
    }

    .ourjob .ourjob__leftsect h2 {
        font-size: 42px;
    }

    .welcomescreen__leftsect,
    .ourjob .ourjob__leftsect {
        max-width: 100%;
    }

    .ourjob .ourjob__leftsect {
        margin-bottom: 30px;
    }

    .ourjob .ourjob__rightsect {
        border-left: none;
        padding-left: 0;
    }

    .ourjob .ourjob__rightsect .title {
        padding-left: 0;
        margin-bottom: 20px;
    }

    .collected__lefttsect {
        margin-bottom: 30px;
    }

    .collected {
        margin-bottom: 50px;
    }

    .collected .collected__rightsect:after,
    .helpua__info:after {
        width: 100%;
    }

    .helpua__info {
        padding: 50px 20px 50px 30px;
    }

    .helpua__img {
        height: auto;
    }

    .header__nav {
        display: none;
    }

    .header__lang {
        display: none;
    }

    .header__tel {
        max-width: 160px;
        flex: 0 0 160px;
        display: inline-block;
        text-align: left;

        p {
            display: none;
        }

        ul {
            border: none;
            padding-left: 0;
        }
    }

    .header__content {
        justify-content: space-between;
    }

    .header__burger {
        display: inline-flex;
        width: 32px;
        height: 22px;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: inline-block;
            width: 32px;
            height: 2px;
            background: #212121;
            transition: 0.5s;
        }

        &.open {
            span {
                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(1) {
                    transform: rotate(45deg) translate(7px, 7px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -7px);
                }

            }
        }
    }

    header.header,
    .header__content {
        height: 94px;
    }

    .header__nav.show {
        transform: translateY(0);
    }

    .header__nav {
        display: flex;
        transition: 0.5s;
        transform: translateY(120%);
    }

    .header__nav {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: calc(100vh - 94px);
        width: 100%;
        left: 0;
        top: 94px;
        background: #fff;
        max-width: 100%;
        z-index: 11;
        overflow: scroll;
        padding-top: 100px;
        padding-bottom: 50px;
        flex: initial;


        ul {

            li {
                display: block;
                margin: 0 0 20px 0;

                a {
                    font-size: 18px;
                }
            }
        }

    }

    .header__lang.mobileshow {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .welcomescreen__rightsect .imgwrap.big {
        height: 478px;
    }

    main.main {
        padding-top: 94px;
    }

    .header__lang {
        max-width: 65px;
    }

    .newssection {
        padding: 50px 0;
    }

    .rekbox {
        margin-bottom: 50px;
    }

    .rekvbottsect {
        margin-top: 130px;
    }

    .rekvbottsect p {
        font-size: 24px;
    }

    .rekvizytysect {
        padding-top: 40px;
    }

    .rekvizytysect h1 {
        font-size: 40px;
    }

    .postsect article img {
        width: 100%;
    }

    .collected {
        padding-top: 60px;
    }

    .ourjob {
        padding: 100px 0 0 0 !important;
    }

    .btnswrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bluebtn.rekvbtn {
        display: flex;
        background-color: #fff;
        border: 1px solid #50CAFF;
        color: #50CAFF;
        min-height: 60px;
    }

    .collectedtotzvit {
        padding-left: 0;
    }

    .rekbox:last-child {
        margin-bottom: 50px;
    }












}

@media(max-width:767.8px) {
    .rekvbottsect>img {
        width: 250px;
    }

    .rekvbottsect:after {
        right: -90px;
        width: 300px;
    }

    .rekvbottsect>img {
        left: initial;
        right: 40px;
    }


}

@media(max-width:575.8px) {
    .welcomescreen__rightsect .imgwrap.big {
        display: none;
    }

    .welcomescreen__rightsect .imgwrap.big,
    .welcomescreen__rightsect .imgwrap.litt {
        height: 195px;
        margin-bottom: 0;
    }

    .welcomescreen {
        padding: 20px 0 0 0;
    }

    .welcomescreen__leftsect {
        padding-top: 25px;
    }

    .welcomescreen__leftsect h1 {
        font-size: 32px;
        margin-bottom: 23px;
    }

    .welcomescreen__leftsect .descr {
        font-size: 15px;
    }

    .button-container-2 {
        width: 100%;
    }

    .welcomescreen__leftsect .descr {
        margin-bottom: 23px;
    }

    .ourjob .ourjob__leftsect h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .ourjob .ourjob__leftsect .descr {
        font-size: 15px;
    }

    .ourjob .ourjob__rightsect .title {
        font-size: 21px;
    }

    .ourjob .ourjob__rightsect ul li {
        font-size: 15px;
    }

    .ourjob .ourjob__rightsect ul li:after {
        top: 9px;
    }

    .ourjob {
        padding-bottom: 30px;
    }

    .collected {
        padding: 0 0 50px 0;
    }

    .collected .collected__lefttsect {
        padding-top: 30px;
    }

    .collected .collected__lefttsect .title {
        font-size: 24px;
    }

    .collected .collected__lefttsect .totalcollected {
        font-size: 52px;
    }

    .collected .collected__lefttsect .totalcollected span {
        font-size: 21px;
    }

    .watch-reports {
        width: 100%;
        min-height: 60px;
        font-size: 17px;
    }

    .collected .collected__rightsect {
        padding: 30px;
    }

    .collected .collected__rightsect .collected__box {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .collected .collected__rightsect .collected__box .descr {
        max-width: 100%;
    }

    .collected {
        margin-bottom: 0;
    }

    .helpua__info .descr {
        font-size: 21px;
        line-height: 140%;
    }

    .helpua__info {
        padding: 40px 30px;
    }

    .footer__wrapper .footer__left {
        flex-wrap: wrap;
    }

    .footer {
        height: auto;
        padding: 20px 0;
    }

    .footer__wrapper .footer__left .footer__logo {
        margin: 0 auto 20px;
    }

    .footer__wrapper .footer__left p {
        text-align: center;
        margin: 0 auto;
    }

    .footer__wrapper .footer__social {
        margin: 15px auto 0;
    }

    .footer__logo img {
        max-width: 80px;
    }

    .footer__wrapper .footer__left p {
        font-size: 14px;
    }

    .header__lang.mobileshow {
        flex: initial;

        ul {
            li {
                margin-bottom: 0;
            }
        }
    }

    .news__box .news__box-pic {
        height: auto;
    }

    .newssection h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .newssection {
        padding-top: 30px;
    }

    .news__box .news__box-descr {
        padding-top: 10px;
    }

    .news__box .news__box-descr .title,
    .news__box .news__box-descr .date {
        margin-bottom: 12px;
    }

    .newssection .col-lg-3 a {
        margin-bottom: 30px;
    }

    .rekvizytysect {
        padding-top: 30px;
    }

    .rekvizytysect h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .rekvizytysect .infotext {
        font-size: 13px;
    }

    .reksect {
        margin-top: 40px;
    }

    .reksect .title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .reksect .title span:after {
        width: 60px;
    }

    .reksect ul li,
    .reksect ul li span {
        font-size: 16px;
    }

    .rekvbottsect>img {
        right: 0;
        width: 160px;
        bottom: 100%;
    }

    .rekvbottsect:after {
        background: url(../img/flag.jpg) no-repeat center/ auto 100%;
        bottom: 100%;
        display: block;
        top: initial;
        width: 100%;
        height: 100px;
        right: 0;
    }


    .rekvbottsect p {
        position: relative;
        z-index: 2;
    }

    .rekvbottsect p {
        font-size: 21px;
    }

    .rekvbottsect {
        min-height: initial;
        padding: 30px 0;
    }

    .reksect ul li:last-child {
        margin-bottom: 0;
    }

    .rekbox {
        margin-bottom: 30px;
    }

    .rekvizytysect {
        padding-bottom: 50px;
    }

    .ourjob {
        padding: 60px 0 0 0 !important;
    }

    .bluebtn.rekvbtn {
        margin-top: 20px;
        width: 100%;
    }

    .collected {
        padding-top: 50px;
    }

    .collectedzvit .collectedzvit__title {
        padding-bottom: 15px;
    }

    .collectedzvit ul li p {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .collectedzvit ul li p:nth-child(2):after {
        display: none;

    }

    .collectedzvit ul li p:nth-child(2) {
        padding-left: 0;
    }

    .collectedzvit ul li p:first-child {
        margin-bottom: 20px;
    }

    .collectedzvit ul li {
        margin-bottom: 20px;
        // border-bottom: 1px solid rgba(#212121, 0.3);
        padding-bottom: 15px;
    }

    .collectedzvit ul li p:nth-child(2) {
        border-bottom: 1px solid #50CAFF;
        display: inline-block;
    }

    .collectedzvit ul li p:first-child .descr {
        font-size: 15px;
    }

    .collectedzvit ul li p:first-child .title {
        // margin-bottom: 0;
    }

    .collectedtotzvit .totprice {
        font-size: 42px;
    }

    .collectedtotzvit .watch-reports {
        width: 100%;
        max-width: 220px;
        font-size: 15px;
        height: 50px;
        min-height: initial;
    }

    .watch-reports svg {
        width: 22px;
        margin-top: -1px;
    }

    .collectedtotzvit>img {
        width: 560px;
        margin-top: 50px;
    }

    .welcomescreen__rightsect .imgwrap.litt:nth-child(1) {
        margin-bottom: 20px;
    }

    .rekvbottsect:after {
        background-repeat: repeat-x;
    }

    .welcomescreen__rightsect .imgwrap.litt {
        height: auto;
    }

    .collectedzvit ul li {
        display: block;
    }

    .collectedzvit ul li p:nth-child(2) {
        flex: initial;
        width: auto;
        padding-bottom: 5px;
    }

    .welcomescreen__rightsect .imgwrap.litt:last-child {
        display: none;
    }

    .welcomescreen__rightsect .imgwrap.litt:first-child {
        margin-bottom: 0;
    }

    .welcomescreen__leftsect {
        padding-top: 10px;
    }

    .welcomescreen__leftsect h1 {
        margin-bottom: 15px;
    }

    .welcomescreen__rightsect {
        display: none;
    }
    .mobslider {
        display: block;
    }
    .mobslider img {
        width: 100%;
    }
    
    .rekbox:last-child {
        margin-bottom: 30px;
    }





}

@media(max-width:360.8px) {
    .collectedtotzvit .totprice {
        font-size: 36px;
    }

    .collectedtotzvit>img {
        width: 500px;
    }
}